*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
    
}


header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#containerNumeros {
    margin: 9em auto;
    background-color: lightgreen;
    width: min(66em, 100%);
    padding: 1em;
    text-align: center;
    border-radius: 1em;
}

#containerNumeros h2 {
    margin: .5em 0;
}

#containerNumeros select{
    width: 4em;
    height: 2.8em;
    font-size: 1.3em;
    text-align: center;
    border-radius: .3em;
    margin-top: .8em;
}

.campo {
    margin-top: 2em;
    font-size: 1.3em;
}

.campoPar {
    font-size: 1.3em;
    margin-top: 1.3em;
}

#porPar {
    color: black;
    background-color: skyblue;
    height: 2em;
    width: 5em;
    margin: .5em auto 0 auto;
    padding: .3em;
    border-radius: .3em;
}

#porImpar {
    color: black;
    background-color: skyblue;
    height: 2em;
    width: 5em;
    margin: .5em auto 0 auto;
    padding: .3em;
    border-radius: .3em;
}

.campoI {
    font-size: 1.3em;
    margin-top: 1.5em;
}

.campoS {
    margin-top: 2em;
    margin-bottom: 2em;
}

.campoS label {
    font-size: 1.3em; 
}

#Simetrico {
    background-color: skyblue;
    width: 10em;
    height: 2em;
    margin: .5em auto 0 auto;
    padding: .3em;
    color: black;
    font-size: 1.5em;
    border-radius: .3em;
}

#limite {
    width: 5.3em;
    margin-top: .5em;
    height: 2.2em;
    font-size: 1.1em;
    text-align: center;
    border: none;
    border-radius: .3em;
}

#containerCantidad {
    display: flex;
    justify-content: center;
}

#botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0;
}

@media (min-width: 768px) {
    #botones {
        flex-direction: row;
        
    }
}

#btnLlenar {
    background-color: skyblue;
    border: none;
    color: black;
    padding: .8em;
    font-size: 1.2em;
    border-radius: .5em;
}